/*table{
    border-collapse: collapse;
    width: 100%;
    margin: 30px auto;
}
td{
    border: 1px solid black;
    height: 75px;
    width: 14.2%;
}
.w5h75{
    width: 5%;
    height: 50px;
}
.w24{
    width: 24%;
}
.w31{
    width: 31%;
}
.w40{
    width: 40%;
}
.w52{
    width: 52%;
}
.w12{
    width: 12%;
}
.w31{
    width: 31%;
}
.w15{
    width: 15.5%;
}
.w26{
    width: 26%;
}
.w5{
    width: 5%;
}
.w57{
    width: 57%;
}*/
.header {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}
.table {
    width: 650px;
    height: 650px;
    border: 1px solid black;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
}
.table td {
    border: 13px solid black;
}
.red {
    background-color: rgb(221, 9, 9);
}
.blue {
    background-color: rgb(8, 8, 196);
}
.yellow {
    background-color: rgb(217, 217, 53);
}
.black {
    background-color: black;
}
.white {
    background-color: rgb(240, 240, 240);
}
